<!DOCTYPE html>
<html ng-app="shoppingListModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <img src="~/Images/shoppingcart.png" class="float-left" width="50px" />
            <div class="float-left">
                
                <p class="site-title" >
                    <a href="~/">Shopping List</a></p>
            </div>
        </div>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
